.dialog-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* sfondo oscurato */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  animation: fadeIn 0.2s ease-in-out;
  overflow: hidden; /* imposta limite esterno */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.dialog-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-container.fullscreen {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border-radius: 0;
}

.dialog-header h2 {
  margin: 0 0 1rem 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dialog-close-button {
  all: unset;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  color: #666;
}

.dialog-close-button:hover {
  background-color: unset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dialog-close-button svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 450px) {
  .dialog-container {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
    border-radius: 0 !important;
  }
}
